<!DOCTYPE html>
<html lang="en">
    <fieldset>
        <legend>Select barcode type:</legend>
        
        <div>
            <input type="radio" id="QR" name="Type" value="QR" checked />
            <label for="QR">QR</label>
        </div>
        
        <div>
            <input type="radio" id="Aztec" name="Type" value="Aztec" />
            <label for="Aztec">Aztec</label>
        </div>
        
        <div>
            <input type="radio" id="Barcode" name="Type" value="Barcode" />
            <label for="Barcode">Barcode</label>
        </div>
    </fieldset>